*.xml
*.log
*.apk
*.iml
**/.vscode/
**/.idea/
*.pyc
.DS_Store
*.cfg
*.sqlite3
checkpoints/
runs/
**/counts/
__pycache__/
*.npy
tmp/
*.pt
*.pth
*.log
*.pickle
dist/

torchtrace.egg-info/
install.sh
build